<div>
  <main>
    <section>
      <h1>{{name}}</h1>
      <time>{{birthdate}} - {{deathdate}}</time>
      <p>He was born in
        {{birthplace}}
        and his deathplace is
        {{deathplace}}. He had 3 nationalities:
        {{nationality}}. He devoted his life to learning
        {{occupation}}.
        <b>He is famous in the world for
          <ul>
            {{#each known_for}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </b>
      </p>
    </section>
    <hr />
    <article>
      <section>
        <h3>Education</h3>
        {{#each education}}Albert Einstein received his
          degree{{degree}}
          in
          {{field}}
          when he graduated from the institution
          {{institution}}
          in
          {{year}}
        {{/each}}
        <hr />
      </section>
      <section>
        <h3>Way of Physik's life</h3>
        <p>He continued to develop in the field and soon
          created notable publications:
          <ol>
            {{#each notable_publications}}
              <li>
                {{title}}
                ({{year}})
                {{publisher}}
              </li>
            {{/each}}
          </ol>
        </p>
        <div>In the same year, he made one of his major
          discoveries
          {{#each major_discoveries}}
            <dfn>{{title}}</dfn>
            ({{year}})
            {{description}}
          {{/each}}
        </div>
        <br />
        <div>
          Albert Einstein made invaluable contributions to
          the development of modern physics such as
          {{#with contributions}}
            <dfn>{{title}}</dfn>:
            {{description}}
            in
            {{year}}
            in field
            {{field}}
          {{/with}}
        </div>
        <p>He received award for his achievements
          {{#each awards}}
            <strong>{{title}}</strong>
            in
            {{year}}
            for
            {{description}}
          {{/each}}
        </p>
      </section>
      <hr />
      <section>
        <h3>Friends</h3>
        <div>
          During his life, his best friends and partners
          were:
          <ul>
            {{#each partners}}
              <li>
                {{name}}
                ({{relationship}})
                {{years}}.
              </li>
            {{/each}}
          </ul>
        </div>
        <div>
          During his lifetime, he was an influential person
          and therefore influenced such famous people:
          <ol>
            {{#each influenced}}
              <li>{{this}}</li>
            {{/each}}
          </ol>
        </div>
        <div>
          At the same time, he was inspired by the works of
          such great people:
          <ol>
            {{#each influences}}
              <li>{{this}}</li>
            {{/each}}
          </ol>
        </div>
      </section>
      <hr />
      <div>
        Summarizing this article, I would like to end it
        with quotes great Albert Einstein:
        <ul>
          {{#each quotes}}
            <li><q>{{this}}</q></li>
          {{/each}}
        </ul>
      </div>
    </article>
  </main>
</div>