<div class="p-4">
  {{#with person}}
    <main>
      <h1 class="mb-3 text-center">Introduction</h1>
      <div class="mb-2">
        <strong>{{name}}</strong>
        ({{age}})
      </div>
      <div class="mb-2">
        {{gender}}
      </div>
      <div>
        {{#with address}}
          <address>{{country}},
            {{zip}},
            {{state}},
            {{city}},
            {{street}}</address>
        {{/with}}
      </div>
      <hr class="my-4" />
      <section class="mb-5">
        {{> title data='Education'}}
        <ul>
          {{#each education}}
            <li>
            <div>{{degree}}</div>
            <div>{{major}}</div>
            <div>{{university}}</div>
            <div>{{graduationYear}}</div>
            </li>
          {{/each}}
        </ul>
      </section>
      <section>
        <div class="mb-5">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/person">Work Experience</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/person">Employees</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/person">Projects</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/person">Teams</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/person">Projects</a>
            </li>
          </ol>
        </div>
        {{> title data='Work Experience'}}
          {{#each workExperience}}
            <ol>
              <li>
                <div>{{company}} ({{year_founded}})</div>
                <div>{{industry}}</div>
                <div>{{title}}</div>
                <div>{{startDate}}</div>
                <div>{{endDate}}</div>
                <div>
                  <h4 class="my-3">Responsibilities</h4>
                  <ul>
                    {{#each responsibilities}} 
                     <li>{{this}}</li> 
                    {{/each}}
                  </ul>
                </div>
                <div>
                  <h4 class="my-3">Employees</h4>
                  <ul>{{#each employees}}
                    <li>
                      <div>{{name}}</div>
                      <div>{{position}}</div>
                      <div>{{department}}</div>
                      <div>
                        <h4 class="my-3">Projects</h4>
                        <ul>
                          {{#each projects}} 
                          <li>
                            <div>{{name}}</div>
                            <div>{{description}} ({{status}})</div>
                            <h4 class="my-3">Teams</h4>
                            <ol>
                              {{#each teams}}
                              <li>
                                <div>{{team_name}}</div>
                                <div>
                                  {{#with team_leader}}
                                    {{title}},
                                    {{name}}                                
                                    {{> link href='john.smith@example.com' text='john.smith@example.com' noLine=true}}
                                  {{/with}}
                                </div>
                                <ul>
                                  {{#each team_members}}
                                    <li>
                                      {{name}},
                                      {{title}}
                                      ({{skills}})
                                      {{> link href='alice.johnson@example.com' text='alice.johnson@example.com' noLine=true}}
                                      <h4 class="my-3">Projects</h4>
                                      <ul>
                                        {{#each projects}}
                                          <li>
                                            <div>{{name}}</div>
                                            <div>{{description}}</div>
                                            <div>{{technologies}}</div>
                                            <div>
                                              {{#each team_members}}
                                                {{name}}
                                                ({{title}}),
                                              {{/each}}
                                            </div>
                                          </li>
                                        {{/each}}
                                      </ul>
                                    </li>
                                  {{/each}}
                                </ul>
                              </li>
                              {{/each}}
                            </ol>
                          </li> 
                          {{/each}}
                        </ul>
                      </div>
                    </li>
                    {{/each}}
                  </ul>
                </div>
              </li>
            </ol>
          {{/each}}
      </section>
    </main>
  {{/with}}
</div>