<div class="p-4">
  {{#with program}}
    {{#with excursion}}
      <h1>{{name}}</h1>
      {{#with location}}
        <h2><address>{{city}}
            {{country}}</address></h2>
      {{/with}}
      <date>{{date}}</date>
      <hr class="my-4">
      <main>
        {{> title data='Information about programs'}}
        <div>
          <ol>
            {{#each program}}
              <li>
                <div>{{name}} {{type}} ({{duration}} days)</div>
                {{#with details}}
                  {{#with museum}}
                    {{name}}
                    {{#with location}}
                      <address class="mb-0">{{address}}</address>
                      {{city}}
                      {{country}}
                    {{/with}}
                    <h4 class="my-3">Exhibits</h4>
                    <ol>
                      {{#each exhibits}}
                        <li>
                          <div><strong>{{name}}</strong></div>
                          <div>
                            <em>{{#if artist}}
                              {{artist}}
                            {{else}}
                              The author is unknown
                            {{/if}}</em>
                          </div>
                          {{description}}
                          <div class="mb-3">
                            {{#if audio_guide}}
                              AUDIO
                            {{/if}}
                          </div>
                        </li>
                      {{/each}}
                    </ol>
                  {{/with}}
                  <div>
                    {{#with venue}}
                      {{name}}
                      {{#with location}}
                        <address class="mb-0">{{address}}</address>
                        {{city}}
                        {{country}}
                      {{/with}}
                    {{/with}}
                  </div>
                  <div>
                  {{#if performers}}
                  <h4 class="my-3">Performers:</h4>
                    <ul>
                      {{#each performers}}
                        <li>
                          {{name}}
                          {{type}}
                        </li>
                      {{/each}}
                    </ul>
                    <br>
                  {{/if}}
                  </div>
                  <div>
                    {{#with guide}}You will be accompanied by a guide:
                      <b>{{name}}</b>
                      {{language}}
                      ({{rating}})
                    {{/with}}
                  </div>
                  <hr class="my-4">
                {{/with}}
              </li>
            {{/each}}
          </ol>
        </div>
      </main>
    {{/with}}
  {{/with}}
</div>