<main class="p-4">
  {{> navLinks}}
  <div class="mt-5">
    <ol class="breadcrumb">
      {{#each breadcrumb}}
        <li class="breadcrumb-item">
          <a href="{{url}}">{{name}}</a>
        </li>
      {{/each}}
    </ol>
  </div>
  <section>
    <h1 class="mt-5 mb-4">{{header}}</h1>
    <div class="row mb-5">
      {{#each sortBlock}}
        <div class="col-3">
          <select class="form-select">
            <option selected>{{placeholder}}</option>
            {{#each options}}
              <option value="{{value}}">{{text}}</option>
            {{/each}}
          </select>
        </div>
      {{/each}}
    </div>
  </section>
  <section>
    <div class="row mb-5">
      {{#with filterBlock}}
        <div class="col-4 pe-0">
          <div class="card p-3">
            {{#with sellers}}
              <label class="form-label">{{title}}</label>
              <div class="form-check">
                {{#each list}}
                  <div>
                    <label class="form-check-label">{{value}}</label>
                    <input type="checkbox" class="form-check-input" />
                  </div>
                {{/each}}
              </div>
            {{/with}}
            <hr>
            {{#with brands}}
              <label class="form-label">{{title}}</label>
              {{#with input}}
                <input class="form-control form-control-sm mb-2" placeholder="{{placeholder}}">
              {{/with}}
              <div class="form-check">
                {{#each options}}
                  <div>
                    <label class="form-check-label">{{value}}</label>
                    <input type="checkbox" class="form-check-input" />
                  </div>
                {{/each}}
              </div>
            {{/with}}
            <hr>
            {{#with price}}
              <label class="form-label">{{title}}</label>
              {{#with range}}
                <input class="form-control form-control-sm mb-2" placeholder="{{from}}">
                <input class="form-control form-control-sm mb-2" placeholder="{{to}}">
              {{/with}}
              {{#with button}}
                <div class="col">
                  <a href="{{link}}" class="btn mt-2 btn-outline-secondary">{{text}}</a>
                </div>
              {{/with}}
            {{/with}}
            <hr>
            {{#each filterList}}
              <label class="form-label">{{title}}</label>
              {{#each options}}
                <div>
                  <input type="checkbox" class="form-check-input" />
                  <label class="form-check-label">{{value}}</label>
                </div>
              {{/each}}
              <hr>
            {{/each}}
          </div>
        </div>
      {{/with}}
      <div class="col-8">
        <div class="row">
          {{#each goodsList}}
            <div class="col-6 pe-0">
              {{> catalogItem}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
  {{> successBlock}}
  <hr>
  {{> footerShop}}
</main>